/target/
/nbproject/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
install-sh
missing

.idea/
MANIFEST.MF
Makefile
autotools.pom.properties
pom.properties
build/
config.log
config.status
jigawatts.iml

